.heading{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.titlebar{
    background:
      linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%)
}

.container{
    display: flex;
}

.leftPart{
    width: 76%;
    margin: 16px;
}

.rightPart{
    width: 24%;
    margin: 16px;
}

#butn{
    padding-left: 70px;
    padding-right: 70px;
}